# General Requirements
pyrogram==1.2.9
TgCrypto

# Others
psutil>=5.8.0
yarl>=1.4.2
carbonnow
requests
pyromod
telegraph
Skem
motor>=2.3.1
dnspython>=2.1.0
python-arq
python-magic
ffmpeg-python>=0.2.0
pytgcalls
youtube_dl
youtube-search-python>=1.4.2
